body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
}
nav {
  background-color: #4CAF50;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 1em;
}
.page {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4CAF50;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

h1 {
  margin-bottom: 20px;
}

